.m-20{
    display: block;
    margin: 20px;
}
.clickable{
    cursor: pointer;
}
.centralize{
    text-align: center;
    margin: 20px auto;
}
.m-t-20{
    margin-top: 20;
}
.grid{
    display: grid;
}